<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                     http://www.springframework.org/schema/tx   
                     http://www.springframework.org/schema/tx/spring-tx.xsd   
                     http://www.springframework.org/schema/context     
                     http://www.springframework.org/schema/context/spring-context.xsd   
                     http://www.springframework.org/schema/aop   
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
                      
    <import resource="spring-ea-persistence.xml"/>
    <import resource="spring-aop.xml"/>
    <import resource="spring-activiti.xml"/>
    <import resource="spring-scan.xml"/>
 

    <!--必须写在spring.xml里，不能写在import中-->   
	<bean id="DatabasePropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/database-${db}.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean> 
   <!--基础服务接口部分 -->
	<bean id="impEa"
		class="com.app.ea.api.ImpEa">
			<property name="infDemo">
			<ref bean="impExamNrj" />
		    </property>
	</bean>
		 
</beans>
